<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://interviewapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>interviewapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>InterviewApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$InterviewApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SatrackDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:satrackteamserver.database.windows.net,1433;Initial Catalog=SatrackDB;Persist Security Info=True;User ID=andreslon;Password=22@ndreslon;Application Name=EntityFramework" Name="Data Source=tcp:satrackteamserver.database.windows.net,1433;Initial Catalog=SatrackDB;Persist Security Info=True;User ID=andreslon;Password=22@ndreslon;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:satrackteamserver.database.windows.net,1433;Initial Catalog=SatrackDB;Persist Security Info=True;User ID=andreslon;Password=22@ndreslon;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SatrackDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.SatrackDBContext.csdl|res://*/Models.SatrackDBContext.ssdl|res://*/Models.SatrackDBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:satrackteamserver.database.windows.net,1433;initial catalog=SatrackDB;persist security info=True;user id=andreslon;password=22@ndreslon;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SatrackDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SatrackDBContext.csdl|res://*/Models.SatrackDBContext.ssdl|res://*/Models.SatrackDBContext.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:satrackteamserver.database.windows.net,1433;initial catalog=SatrackDB;persist security info=True;user id=andreslon;password=22@ndreslon;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>